@charset "UTF-8";
/*
em html é id = css é '# ' 
em html é class = css é ' . ' */
 body {

 background-color: chartreuse;
}

h1{
    color:black;
}
#princi{
    text-align: center;
    color: aliceblue;
}
h2{
    color:aqua;
}

